@charset "UTF-8";
/*---------------------基本样式------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 12px;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

/*--------------------附加class-------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row::before {
  display: table;
  content: "";
}

.row::after {
  display: table;
  content: "";
  clear: both;
}

/*----右边框---*/
.pr {
  position: relative;
}

.border-right::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #333;
}

/*-----三角形-----*/
/*-----------------bootstrap3栅格布局------------------*/
[class^="col"] {
  float: left;
}

@media (max-width: 767px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .container {
    width: 750px;
  }
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .container {
    width: 1170px;
  }
}
