$c-yellow: #e87e04;
$c-dblue: #2c3e50;
@media (max-width:768px) {
    .title {
        width: 100%;
        margin: 0;
        text-align: center;
        // background-color: aqua;
        span {
            margin-left: auto;
            margin-right: auto;
            animation: widthest 3s forwards !important;
        }
    } 
    @keyframes widthest {
        0%{ width: 0;}
        100%{ width: 70%;}
    }
}
@media (max-width:500px) {
    .title {
        margin-top: 140px;
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 25px;
        }
        a {
            font-size: 14px;
            width: 180px;
            height: 35px;
            line-height: 33px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
    .box {
        height: 70px !important;
        .content {
            img { display: none;}
        }
        .cover {
            p {
                display: inline-block !important;
                margin: 0 !important;
                display: inline-block;
                font-size: 20px !important;
                color: #000 !important;
            }
            i {
                display: inline-block !important;
                font-size: 16px !important;
            }
        }
        &:hover {
            p { color: #fff !important; }
            p,i {display: inline-block !important}
        }
    }
}
/* -----------------导航响应式---------------- */

@media (max-width: 950px) {
    .nav {
        position: relative;
    }
    .i-container {
        // height: 45.6px !important;
        >a {
            width: 45px !important;
            height: 45px !important;
            top: 11px !important;
        }
        >ul {
            display: none;
            position: absolute;
            float: none !important;
            top: 70px;
            left: 0;
            width: 100% !important;
            border-top: 1px solid #f0a44d;
            li {
                float: none !important;
                background-color: $c-dblue;
                width: 100% !important;
                text-align: center;
            }
            
        }
        >span {
            font-size: 20px !important;
            top: -4px !important;
            padding: 0 !important;
            border: none !important;
            margin-left: 20px !important;
        }
        >i {
            float: right;
            display: block !important;
            width: 40px;
            height: 40px;
            line-height: 64px !important;
        }
    }
}
