// @import "media.scss";
@import "animate.scss";
$c-dblue: #2c3e50;
$c-yellow: #e87e04;
$c-bg: #f3f2f3;
$c-gray: rgb(92, 92, 92);
// $c-yellow2: rgba(232, 126, 4);
.i-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------banner部分------------------*/
.banner {
    // min-height: 728px;
    height: 100vh;
    position: relative;
}    
.bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    li {
        width: 100%;
        height: 100%;
        display: none;
        &:nth-child(1) {
            background: url("../images/bg2.jpg") no-repeat center center;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url("../images/bg3.jpg") no-repeat center center;
            background-size: cover;
        }
    }
    .show {
        animation: fadescale 4s forwards;
        display: block !important;
    }
}
.title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 100px;
    text-align: left;
    h1 {
        margin-top: 5px;
        font-size: 70px;
        color: #fafafa;
        animation: fadetop 1s
    }
    h2 {
        color: $c-dblue;
        font-size: 55px;
        &:nth-of-type(1){
            opacity: 0;
            margin-top: 5px;
            animation: fadetop 1s .3s forwards;
        }
        &:nth-of-type(2){
            opacity: 0;
            margin-top: 5px;
            animation: fadetop2 1s .5s forwards;
        }
    } 
    span { 
        display: block;
        height: 3px;
        width: 600px;
        margin: 14px 0;
        background-color: #fff;
        
        animation: widther 1.5s forwards;
    }
    a {
        display: inline-block;
        box-sizing: border-box;
        background-color: $c-dblue;
        color: #fff;
        margin-right: 10px;
        margin-top: 10px;
        height: 45px;
        line-height: 41px;
        text-align: center;
        width: 200px;
        border-radius: 5px;
        font-size: 31px;
        font-weight: 400;
        // border-radius: 10px;
        opacity: 0;
        animation: fadein .5s 1s forwards;
        transition: all .5s;
        border: 3px solid $c-dblue;
        &:last-of-type {
            background-color: transparent;
            color: $c-dblue;
            border-color: $c-dblue;
            &:hover {
                color: #fff;
                background-color: $c-dblue;
            }
        }
        // border: 3px solid #fff;
        // &:hover {
        //     background-color: transparent;
        //     border-color: #fff;
        //     color: #fff;
        // }
    }
}


/*-------------------------导航部分---------------------*/
.nav {
    background-color: $c-dblue;
    color: #fff;
    .i-container {
        height: 70px;
        >a {
            background: url(../images/adm.jpg) no-repeat center center;
            display: inline-block;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            position: relative;
            top: 9px;
        }
        >span {
            display: inline-block;
            font-size: 26px;
            padding: 4px 10px;
            border: 5px solid #fff;
            border-radius: 30px;
            position: relative;
            top: -5px;
            margin-left: 30px;
        }
        ul {
            float: right;
            li {
                float: left;
                width: 80px;
                &:not(:last-of-type){ margin-right: 10px; }
                a {
                    color: inherit;
                    line-height: 70px;
                    font-size: 14px;
                    &:hover {
                        color: $c-yellow;
                    }
                }
            }
        }
        i {
            // display: block;
            font-size: 35px;
            line-height: 70px;
            color: #fff;
            display: none;
        }
    }
}
.fixed {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: $c-dblue;
    z-index: 999;
}

/* --------------关于我开始-------------- */

.head {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-bottom: 10px;
    border-bottom: 3px solid $c-yellow;
}
.aboutme {
    // height: 400px;
    // min-height: 540px;
    padding-bottom: 60px;
    background-color: $c-bg;
    img {
        border-radius: 50%;
        // margin-top: 70px;
        width: 200px;
    }
    >div {
        text-align: center;
    }
    .speak {
        font-size: 16px;
        // text-indent: 2em;
        margin-top: 30px;
        font-weight: 400;
        line-height: 25px;
        color: $c-gray;
    }
}
.show {
    text-align: center;
    // height: 1000px;
    .i-container {
        .box {
            height: 250px;
            transition: all .6s;
            
            padding: 10px 10px 30px 10px;
            >div { height: 100%; }
            &:hover {
                transform: scale(1.2);
                // .content { box-shadow: 0 5px 15px 3px rgba(0, 0, 0, .35);}
                .cover {
                    background-color: rgba(0, 0, 0, .65);
                    p,i {display: block;}
                }
            } 
            .content {
                box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .15);
                // padding: 10px;
                overflow: hidden;
                img {
                    // width: 100%;
                    height: 100%;
                }
            }
            .cover {
                text-align: center;
                font-size: 23px;
                color: #fff;
                // color: black;
                font-weight: bold;
                transition: all .6s;
                >p {
                    display: none;
                    margin-top: 60px;
                    margin-bottom: 20px;
                }
                transform: translateY(-100%);
                i {
                    display: none;
                    font-size: 30px;
                    color: $c-yellow;
                }
            }
            
        }
    }
}

/* -------------技术掌握开始------------ */
.skill {
    text-align: center;
}



  

